.row-header{
  margin: 0px auto;
  padding: 0px auto;
}
.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer{
  background-color: #AfAfAf;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #7986CB;
  color: floralwhite;
}
.address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;

}
.body{
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-inverse{
  background: #303F9F;
}
.navbar-inverse .navbar-bar > .active >a,
.navbar-inverse .navbar-bar > .active >a:hover,
.navbar-inverse .navbar-bar > .active >a:focus{
  color: #fff;
  background: #1A237E;
}
.navbar-inverse .navbar-bar > .open >a,
.navbar-inverse .navbar-bar > .open >a:hover,
.navbar-inverse .navbar-bar > .open >a:focus{
  color: #fff;
  background: #1A237E;
}
.navbar-inverse .navbar-bar .open .dropdown-menu>li>a,
.navbar-inverse .navbar-bar .open .dropdown-menu{
  color: #eeeeee;
  background-color: #303F9F;
}
.navbar-inverse .navbar-bar .open .dropdown-menu>li>a{
  color: #000000;
}
.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.affix{
  top:100px;
  align:right;
}
.carousel {
    background:#1A237E;
}
.carousel .item {
  height: 300px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}
